<a href="https://colab.research.google.com/github/dudaspm/IST210-Spring2020/blob/master/SQL/ForChapterAssessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3 # Once imported in a single notebook, it is available to us throughout the rest of the notebook. 
# connect to database, if not there, create it.
connectionToDatabase = sqlite3.connect('StudentFinancial') 
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS student''')
connectionToDatabase.commit()

cursor.execute('''create table student (PSUID text PRIMARY KEY, firstname text, lastname text, email text, department text)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS tuition''')
connectionToDatabase.commit()

cursor.execute('''create table tuition (tuitionID text PRIMARY KEY, student text, semesterCost int, scholarship int, dueDate text)''')
connectionToDatabase.commit()

In [0]:
first = ["Charlotte","Brad","Kyle","Alexander","Susan","Olivia","Oscar","Isabella","Pranav","Jenay"]

In [0]:
last = ["Mcintyre","Mora","Ortiz","Morrison","Yu","Gilbert","Tate","Berger","Keller","Mann"]

In [0]:
department = ["College of IST","Physics","Math","Art"]

In [0]:
import random
ids = []
for i in range(len(first)):
  id = random.randint(9000000, 10000000)
  ids.append(id)
  f = first[i]
  l = last[i]
  e = f[0] + l[0] + l[1] + str(random.randint(0, 20))
  e = e.lower()
  d = department[random.randint(0, len(department)-1)]
  insertStatement =  """insert into student values ("%s","%s","%s","%s","%s")""" % (id,f,l,e,d)
  cursor.execute(insertStatement)
  connectionToDatabase.commit() # remember to commit!

In [0]:
DueDates = ["2020-09-30","2020-06-30","2021-01-30"]

In [0]:
for id in ids:
  tid = random.randint(100000, 200000)
  c = 10000
  s = random.randint(0, c)
  d = DueDates[random.randint(0, len(DueDates)-1)]
  t = """%s,%s,%s,%s,%s""" % (tid,id,c,s,d)
  insertStatement =  """insert into tuition values ("%s","%s",%s,%s,"%s")""" % (tid,id,c,s,d)
  cursor.execute(insertStatement)
  connectionToDatabase.commit() # remember to commit!

In [0]:
cursor.execute('''select * from student limit 10''')
for row in cursor.fetchall():
  print (row)

('9370903', 'Charlotte', 'Mcintyre', 'cmc17', 'Math')
('9037484', 'Brad', 'Mora', 'bmo18', 'Math')
('9419520', 'Kyle', 'Ortiz', 'kor20', 'Art')
('9862231', 'Alexander', 'Morrison', 'amo6', 'Physics')
('9057516', 'Susan', 'Yu', 'syu6', 'Art')
('9090568', 'Olivia', 'Gilbert', 'ogi11', 'Physics')
('9474636', 'Oscar', 'Tate', 'ota12', 'Physics')
('9831385', 'Isabella', 'Berger', 'ibe8', 'Physics')
('9896585', 'Pranav', 'Keller', 'pke19', 'Math')
('9029756', 'Jenay', 'Mann', 'jma11', 'Math')

In [0]:
cursor.execute('''select * from tuition limit 10''')
for row in cursor.fetchall():
  print (row)

('121934', '9370903', 10000, 7591, '2020-06-30')
('118832', '9037484', 10000, 3827, '2020-06-30')
('149700', '9419520', 10000, 4088, '2021-01-30')
('129782', '9862231', 10000, 1912, '2021-01-30')
('152525', '9057516', 10000, 8560, '2020-06-30')
('165408', '9090568', 10000, 1334, '2021-01-30')
('186093', '9474636', 10000, 5237, '2020-06-30')
('177189', '9831385', 10000, 6192, '2020-06-30')
('129430', '9896585', 10000, 8044, '2020-06-30')
('101234', '9029756', 10000, 6177, '2021-01-30')

In [0]:
|