<a href="https://colab.research.google.com/github/dudaspm/IST210-Spring2020/blob/master/SQL/WeatherDatabase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Start Learning SQL Commands

We will first pull in data from [Gist](https://gist.github.com/)

In [0]:
#Used to make requests
import urllib

f = urllib.request.urlopen("https://gist.githubusercontent.com/dudaspm/2cc247b1b43f1ebf620c1004dd2a0f76/raw/ecdb8dd0f2f851994f10d6612d398702a2d73d4c/StateCollege2010-2020.csv")
StateCollegeWeatherData = str(f.read().decode('utf-8'))

Let's load SQL into our notebook

In [0]:
%load_ext sql

Connect or Create a new database called *weatherDatabase*

In [4]:
%sql sqlite:///weatherDatabase.db

'Connected: @weatherDatabase.db'

Here is your ER Diagram

![weather ER Diagram](https://raw.githubusercontent.com/dudaspm/IST210-Spring2020/master/SQL/images/weather.png)

### CREATE

In [5]:
%%sql  
DROP TABLE IF EXISTS Weather;
CREATE TABLE Weather(date text primary key, precipitation real, snow real, temp_max integer, temp_min integer);

 * sqlite:///weatherDatabase.db
Done.
Done.

[]

### INSERT

Again, Python code will always been given to you. Make sure you understand the INSERT statement.

In [0]:
%%capture
for line in StateCollegeWeatherData.split("\n")[1:]:
  d = line.split(",")
  date = d[0]
  precipitation = d[1]
  snow = d[2]
  temp_max = d[3]
  temp_min = d[4]
  
  # Example:
  # INSERT INTO Weather VALUES('2010-01-01',.07,.9,32,25)
  %sql insert into Weather values (:date,:precipitation,:snow,:temp_max,:temp_min)

## SELECT

### LIMIT

In [7]:
%%sql
select * from weather limit 10;

 * sqlite:///weatherDatabase.db
Done.

[('2010-01-01', 0.07, 0.9, 32, 25),
 ('2010-01-02', 0.0, 0.0, 37, 18),
 ('2010-01-03', 0.0, 0.0, 20, 12),
 ('2010-01-04', 0.0, 0.0, 21, 13),
 ('2010-01-05', 0.0, 0.0, 25, 18),
 ('2010-01-06', 0.05, 0.7, 27, 18),
 ('2010-01-07', 0.0, 0.0, 30, 25),
 ('2010-01-08', 0.06, 1.2, 29, 21),
 ('2010-01-09', 0.02, 0.4, 24, 16),
 ('2010-01-10', 0.0, 0.0, 27, 8)]

### AVG - Average values

In [8]:
%%sql
select AVG(snow) from weather

 * sqlite:///weatherDatabase.db
Done.

[(0.10109529025191674,)]

### MAX/MIN - Max/Min values

In [9]:
%%sql
select MAX(snow) from weather;

 * sqlite:///weatherDatabase.db
Done.

[(13.5,)]

In [10]:
%%sql
select MIN(temp_min) from weather;

 * sqlite:///weatherDatabase.db
Done.

[(-9,)]

### COUNT

In [11]:
%%sql
select COUNT(date) from weather;

 * sqlite:///weatherDatabase.db
Done.

[(3652,)]

### WHERE - A condition

In [14]:
%%sql
select date, snow from weather where snow > 10;

 * sqlite:///weatherDatabase.db
Done.

[('2010-02-06', 13.5), ('2018-11-16', 11.5)]

### Between - Numbers/date between two conditions

In [15]:
%%sql
select date, snow from weather where snow between 8 and 9;

 * sqlite:///weatherDatabase.db
Done.

[('2012-12-27', 8.5), ('2014-02-14', 8.0)]